# ————— Miscellaneous —————
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/
migrate_working_dir/

# ————— IntelliJ / Android Studio —————
# ignore ทั้งโฟลเดอร์ .idea และไฟล์ .iml ปกติ
*.iml
*.ipr
*.iws
.idea/*

# แต่ยกเว้นไฟล์ config ที่ต้องการเก็บไว้
!.idea/libraries/
!.idea/libraries/Dart_SDK.xml
!.idea/libraries/Flutter_Plugins.xml
!.idea/modules.xml
!.idea/pkb_close_device_iphone.iml
!.idea/vcs.xml

# ยกเว้น .iml เฉพาะไฟล์โปรเจกต์
!pkb_close_device_iphone.iml

# ————— VS Code (ถ้าต้องการ) —————
# .vscode/

# ————— Flutter / Dart / Pub —————
# ignore build artifacts, generated docs, และโฟลเดอร์ .dart_tool
build/
**/doc/api/
.flutter-plugins
.flutter-plugins-dependencies
.dart_tool/*

# แต่ยกเว้นไฟล์ package_config.json
!.dart_tool/package_config.json

# ให้ Git ติดตาม pubspec.lock เสมอ
!/pubspec.lock
